{% extends 'base.html' %} {% load static %}
{% block title %}更新文章{% endblock title %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br>
            <form method="post" action="{% url 'article:article_update' article.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">文章标题</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">
                </div>
                <div class="form-group">
                    <label for="avatar">标题图</label>
                    {% if article.avatar %}
                        <div class="mb-2">
                            <img src="{{ article.avatar.url }}" alt="avatar" style="max-width: 200px; border-radius: 10px;">
                        </div>
                    {% endif %}
                    <input type="file" class="form-control-file" name="avatar" id="avatar">
                </div>
                <div class="form-group">
                    <label for="tags">标签</label>
                    <input type="text" class="form-control" id="tags" name="tags" value="{{ article.tags.all|join:' ' }}" placeholder="多个标签请用空格隔开">
                </div>
                <div class="form-group">
                    <label for="column">栏目</label>
                    <select class="form-control" id="column" name="column">
                        <option value="">未选择</option>
                        {% for col in columns %}
                            <option value="{{ col.id }}" {% if article.column and article.column.id == col.id %}selected{% endif %}>{{ col.title }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="body">文章正文</label>
                    <textarea type="text" class="form-control" id="body" name="body" rows="12">{{ article.body }}</textarea>
                </div>
                <button type="submit" class="btn btn-primary">完成</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
